@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    /* background: url(fireworks.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: hard-light; */
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
    position: absolute;
    top: 80px;
    left: 100px;
    right: 100px;
    bottom: 80px;
    background: rgb(162, 1, 1);
    background: linear-gradient(45deg, rgba(162, 1, 1, 0.5) 0%, rgba(2, 2, 181, 0.5) 100%, rgba(0, 212, 255, 0.5) 100%);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5),
        0 0 0 100px rgba(0, 0, 0, .1);
}

.container h2 {
    text-align: center;
    font-size: 10em;
    line-height: 0.7em;
    color: #fff;
    margin-top: -80px;
}

.container h2 span {
    display: block;
    font-weight: 300;
    letter-spacing: 6px;
    font-size: 0.2em;
}

.countdown {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.countdown div {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #333;
    color: #fff;
    margin: 0 15px;
    font-size: 3em;
    font-weight: 500;
}

.countdown div:before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 35px;
    background: #006b47;
    color: #fff;
    font-size: 0.35em;
    line-height: 35px;
    font-weight: 300;
}

.countdown #day:before {
    content: 'Ngày';
}

.countdown #hour:before {
    content: 'Giờ';
}

.countdown #minute:before {
    content: 'Phút';
}

.countdown #second:before {
    content: 'Giây';
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Tablet responsive */
@media screen and (max-width: 1024px) {
    .container {
        top: 60px;
        left: 60px;
        right: 60px;
        bottom: 60px;
    }
    
    .container h2 {
        font-size: 7em;
        margin-top: -50px;
    }
    
    .countdown div {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 2.5em;
        margin: 0 10px;
    }
    
    .countdown div:before {
        bottom: -25px;
        height: 30px;
        line-height: 30px;
        font-size: 0.3em;
    }
}

/* Mobile responsive */
@media screen and (max-width: 768px) {
    .container {
        top: 40px;
        left: 20px;
        right: 20px;
        bottom: 40px;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5),
            0 0 0 30px rgba(0, 0, 0, .1);
    }
    
    .container h2 {
        font-size: 4em;
        margin-top: -30px;
    }
    
    .container h2 span {
        letter-spacing: 2px;
        font-size: 0.25em;
    }
    
    .countdown {
        margin-top: 30px;
    }
    
    .countdown div {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 1.8em;
        margin: 0 5px;
    }
    
    .countdown div:before {
        bottom: -22px;
        height: 25px;
        line-height: 25px;
        font-size: 0.35em;
    }
}

/* Small mobile responsive */
@media screen and (max-width: 480px) {
    .container {
        top: 20px;
        left: 10px;
        right: 10px;
        bottom: 20px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5),
            0 0 0 15px rgba(0, 0, 0, .1);
    }
    
    .container h2 {
        font-size: 2.5em;
        margin-top: -20px;
        line-height: 0.8em;
    }
    
    .container h2 span {
        letter-spacing: 1px;
        font-size: 0.3em;
        margin-bottom: 10px;
    }
    
    .countdown {
        margin-top: 20px;
    }
    
    .countdown div {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        margin: 0 4px;
    }
    
    .countdown div:before {
        bottom: -20px;
        height: 22px;
        line-height: 22px;
        font-size: 0.4em;
    }
}

/* Very small screens - stack countdown boxes */
@media screen and (max-width: 360px) {
    .countdown {
        gap: 15px;
    }
    
    .countdown div {
        width: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 1.2em;
        margin: 0 3px;
        margin-bottom: 25px;
    }
    
    .container h2 {
        font-size: 2em;
    }
}

/* Landscape orientation for mobile */
@media screen and (max-height: 500px) and (orientation: landscape) {
    .container {
        top: 10px;
        left: 20px;
        right: 20px;
        bottom: 10px;
    }
    
    .container h2 {
        font-size: 3em;
        margin-top: -10px;
    }
    
    .countdown {
        margin-top: 15px;
    }
    
    .countdown div {
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 1.5em;
        margin: 0 8px;
    }
    
    .countdown div:before {
        bottom: -18px;
        height: 20px;
        line-height: 20px;
        font-size: 0.35em;
    }
}